// @font-face {
//   font-family: "HankenGrotesk";
//   font-display: swap;
//   font-weight: 100 900;
//   src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
//     format("truetype");
// }

:root {
  --clr-white-hsl: 0, 0%, 20%;
  --clr-dark-hsl: 0, 0%, 93%;
  --clr-secondary-hsl: 252, 100%, 67%;
  --clr-primary-hsl: 120, 100%, 25%;

  --clr-white: hsl(var(--clr-white-hsl));
  --clr-dark: hsl(var(--clr-dark-hsl));
  --clr-secondary: hsl(var(--clr-secondary-hsl));
  --clr-primary: hsl(var(--clr-primary-hsl));

  --font-family-default: "HankenGrotesk", sans-serif;

  --fs: 1.125rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
