@import "variables";

body {
  font-family: $font-family-default;
  font-size: $fs;
  color: $clr-white;
  background-color: $clr-dark;
}

.test {
  background-color: black;

  &.one {
    color: $clr-white;
  }
  &.two {
    color: $clr-dark;
  }
  &.three {
    color: $clr-primary;
  }
  &.four {
    color: $clr-secondary;
  }
}
